@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    background: #111827; /* dark gray */
    color: #e5e7eb;  /* light gray */
    accent-color: #38bdf8; /* neon blue or cyan */
    font-family: 'Inter', sans-serif;
    padding-left: 2.5%;
}

/* Styles for minimum device width */

#container {
    display: flex;
    flex-direction: column;
}

#left-top {
    order:1;
}
#right-top {
    order:2;
    display:none
}
#right-bottom {
    order:3;
}
#left-bottom {
    order:4;
    display:none;
}
#bottom-display-minimum {
    order:5;
}
/* Styles for maximum device width */
@media (min-width: 950px) {
    body {
        overflow-y: auto;
        max-height: 100vh;
        box-sizing: border-box;
    }
    #container {
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }
    #left {
        display:flex;
        flex-direction: column;
        position: fixed;
       
        width: 40%;
        overflow-y: hidden;
        overflow-x: hidden;
        padding: 2.5%;
    }
    #right {
        display:flex;
        flex-direction: column;
        width: 60%;
        overflow-y: auto;
        overflow-x: hidden;
        padding-left: 2.5%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        margin-left: 40%;
        position:relative;
        margin-top: 9px;
    }
    #left-bottom {
    order:4;
    display:block;
    }
    #bottom-display-minimum {
        order:5;
        display:none;
    }
    #experience .experience-1 {
        display: flex;
        flex-direction: row;
    }
    .years {
        width: 20%;
    }
    .what-experience {
        width: 80%;
    
    }
    #projects .project-1 {
        display: flex;
        flex-direction: row;
    }
    .project-picture {
        width: 25%;
    }
    .what-project {
        width: 75%;
    
    }
    .project-picture img {
    object-fit: contain;
    display: block;
}
}
.project-picture img {
   width: 110px;
   border: 3px solid #939393; /* neon blue or cyan */
}
ol {
  list-style-type: none;
  padding-left: 0;
}
.heading h3 {
    padding-left: 5%;
    color:#999999; /* gray */
    font-weight: 900;
}
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 5% 0;
    padding-bottom: 2%;
    padding-top: 0%;
}
.hero h1 {
    font-size: 3rem;
    font-weight: bolder;
    padding: 3%;
    padding-left: 0%;
    padding-bottom: 0%;
}
.hero .question-main {
    color: #818181; /* gray */
    padding-left: 2%;
    padding-top: 15%;
}
.hero p {
    color: #b1a6a6;
    padding-top: 3%;
}
.hero h6 {
    color: #656363; /* gray */
}
.navigation {
    padding-left: 13%;
    padding-top: 5%;
    padding-bottom: 8%;
}
.navigation .nav:hover {
    transform: translateX(10px);
}
#left-bottom  {
    padding-top: 10%;
}
* p {
    font-weight: 20%;
    color: rgb(183, 179, 179);
    padding-top: 2%;
}
#experience, #projects {
    padding-top: 7%;
}
#projects {
    padding-bottom: 7%;
}
